.todo-item{
    display: flex;
    list-style-type: none;
    background-color: #035993;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    width: 470px;
    opacity: 0.9;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    border-radius: 4px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}
.delete-icon{
    cursor: pointer;
}
.todo-status{
    color: rgb(232, 233, 234);
}