.todo-item {
    display: flex;
    list-style-type: none;
    background-color: #fff;
    color: #000;
    font-weight: 500;
    font-size: 20px;
    width: 100%;
    padding: 5px 20px;
    height: 50px;
    border-radius: 4px;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between; 
    font-family: sans-serif;
}

.todo-text {
    text-align: center;
    max-width: 200px; 
    flex: 1; 
}
.active{
    text-decoration: line-through;
}
.todo-box{
        height: 20px;
        width: 15px;
}
.sub-item{
    width: 18%;
}

.sub-small-item{
    width: 2%;
}
.todo-status {
    color: #000;
    padding: 4px 8px;
    border-radius: 5px;
    text-align: center;
    margin-right: 20px; /* Space between status and icons */
}

.icon-container {
    display: flex;
    align-items: center; /* Center icons vertically */
}

.edit-icon {
    /* Space between edit and delete icons */
    cursor: pointer;
    height: 50px;
    width: 20px;
}

.delete-icon {
    cursor: pointer;
    height: 50px;
    width: 20px;
}

/* Status-specific styles */
.done {
    border: 2px solid #0568a6;
    box-shadow: 2px 2px 6px #0568a6; 
}

.completed {
    border: 2px solid #12d205;
    box-shadow: 2px 2px 6px #12d205; 
}

.in-progress {
    border: 2px solid #f68104;
    box-shadow: 2px 2px 6px #f68104; 
}

.pending {
    border: 2px solid #494949;
    box-shadow: 2px 2px 6px #4a4a49; 
}
